<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/estilos.css" rel="stylesheet"/>
    <title>UTN - Universidad Tecnologica Nacional Facultad Regional Rosario</title>
</head>

<body>
<header>

    <img src="https://www.familiaysalud.es/sites/default/files/styles/article_image/public/donar_sangre.jpg?itok=4o5vm15J" alt='Logo ContáConmigo' width="80px" title="Logo ContáConmigo">&Cayleys;&#x1D52C;&#x1D52B;&#x1D531;&#x02227;&Cayleys;&#x1D52C;&#x1D52B;&#x1D52A;&#x1D527;&#x1D524;&circlearrowright;</img>
    <br/>
    <br/>
    <br/>
</header>
<nav>
    <a href="listadoDonanteReposicion">Listado Pacientes</a>
    |
    <a href="listadoDonantes">Listado de Donantes Inscriptos</a>
    |
    <a href="listadoPacienteAsignado">Aplicar Voluntariamente a Paciente</a>
    <br/>
</nav>
<section>
    <p>&Cayleys;&#x1D52C;&#x1D52B;&#x1D531;&#x02227;&Cayleys;&#x1D52C;&#x1D52B;&#x1D52A;&#x1D527;&#x1D524;&circlearrowright;
    <p>Página creada para conectar a aquellos que solicitan donantes de sangre con aquellos dispuestos a donar...<br/></p>
    <br/></p>

    <br/>
        <br/>
        <br/>
    <div>
       Es la home
    </div>

</section>
<footer>
    <p>
        <a href="https://www.facebook.com/lis.cpas">Liana Carla Passaro</a>
        |
        <a href="mailto:lianapassaro@hotmail.com?subject=Contacto&body=Email">Enviar Email</a>
    </p>
</footer>
</body>
</html>