<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .botones{
            font-family: Gotham, sans-serif;
            font-size: 14px;
            color: #000;
            border-radius: 2px;
            transition-duration: 0.4s;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        .botones:hover {
              background-color: #FA6780;
              color: white;
        }
</style>

<body>

    <div id="content", name="content", class="main">
        <hr/>
        <footer>
            <p>
                <a class="botones" href="https://www.facebook.com/lis.cpas">Liana Carla Passaro</a>
                |
                <a class="botones" href="mailto:lianapassaro@hotmail.com?subject=Contacto&body=Email">Enviar Email</a>
            </p>
        </footer>
    </div>
</body>
</html>