<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/estilos.css" rel="stylesheet" />
    <title>Detalle Donantes para Reposición</title>
</head>

<body>
    <header>
        <!--<img src="imagenes/images.jfif" alt='Logo ContáConmigo' width="80px" title="Logo ContáConmigo" />-->
        <h1>ContáConmigo</h1>
    </header>
<nav>
    <a href="listadoDonanteReposicion">Listado Pacientes</a>
    <a href="listadoDonantes">Listado de Donantes Inscriptos</a>
    <a href="listadoPacienteAsignado">Aplicar Voluntariamente a Paciente</a>
</nav>
    <section>
        <h3>Detalle de Aplicación a Paciente:</h3>
            <table>
                <div>Donante: {{detalle_don_asignados.idDonante_id}}</div>
                <div>Paciente: {{detalle_don_asignados.idPaciente_id}}</div>
                <div>Fecha Reposición Elegida: {{detalle_don_asignados.fechaReposicionElegida}}</div>
                <div>Comentarios: {{detalle_don_asignados.comentario}}</div>
        </table>
    </section>
    <br/>
    <br/>
    <a href="{% url 'listadoPacientesAsignado' %}">Volver</a>
    <footer>
        <h2>
            <a href="https://www.facebook.com/lis.cpas">Liana Carla Passaro</a>
        </h2>
    </footer>

</body>

</html>