<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/estilos.css" rel="stylesheet" />
    <title>Detalle Donantes para Reposición</title>
</head>

<body>
    <header>
        <!--<img src="imagenes/images.jfif" alt='Logo ContáConmigo' width="80px" title="Logo ContáConmigo" />-->
        <h1>ContáConmigo</h1>
    </header>
<nav>
    <a href="listadoDonanteReposicion">Listado Pacientes</a>
    <a href="listadoDonantes">Listado de Donantes Inscriptos</a>
    <a href="listadoPacienteAsignado">Aplicar Voluntariamente a Paciente</a>
</nav>
    <section>
        <h3>Detalle de Paciente:</h3>
            <table>
                <div>Nombre Donante para Reposición: {{detalle_don_rep.nombre}}</div>
                <div>Apellido: {{detalle_don_rep.apellido}}</div>
                <div>Documento: {{detalle_don_rep.tipoDNI}} {{detalle_don_rep.dni}}</div>
                <div>Fecha Límite por Institución: {{detalle_don_rep.fechaLimite}}</div>
                <div>Cantidad Donante: {{detalle_don_rep.cantidadDonantes}}</div>
                <div>Mail: {{detalle_don_rep.mail}}</div>
                <div>Comentarios: {{detalle_don_rep.comentario}}</div>
                <div>Ciudad: {{detalle_don_rep.ciudad_id}}</div>
                <div>Institución: {{detalle_don_rep.institucion_id}}</div>
                <div>Completo?: {{detalle_don_rep.completo}}</div>
                <div>Teléfono: {{detalle_don_rep.telefono}}</div>
                <div>Fecha Nacimiento: {{detalle_don_rep.fechaNacimiento}}</div>
                <div>Tipo Sangre: {{detalle_don_rep.tipoSangre_id}}</div>
        </table>
    </section>
    <br/>
    <br/>
    <a href="{% url 'listadoDonantesReposicion' %}">Volver</a>
    <footer>
        <h2>
            <a href="https://www.facebook.com/lis.cpas">Liana Carla Passaro</a>
        </h2>
    </footer>

</body>

</html>